---
import Pagination from '@/components/Pagination.astro'
import AchievementsList from '@/components/AchievementsList.astro'
import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'
import config from '@/theme.config'
import { getAchievements } from '@/util/achievements'
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'

export const getStaticPaths = (async ({ paginate }) => {
  const achievements = await getAchievements()
  return paginate(achievements, { pageSize: config.achievementsPerPage })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page } = Astro.props

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: 'Achievements',
  activeHeaderLink: 'Achievements'
}
---

<PageLayout {frontmatter}>
  <h1 class="mb-4">
    {frontmatter.title}
  </h1>
  <div class="flex flex-row gap-4 mb-8">
<div class="text-xl">India Rank: 10</div>
<div class="text-xl">Global Rank: 249</div>
  </div>
  <AchievementsList achievements={page.data} />

  <Pagination slot="bottom" page={page} />
</PageLayout>
