---
import Pagination from '@/components/Pagination.astro'
import MembersList from '@/components/MembersList.astro'
import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'
import config from '@/theme.config'
import { getMembers } from '@/util/members'
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'

export const getStaticPaths = (async ({ paginate }) => {
  const members = await getMembers()
  return paginate(members, { pageSize: config.memberRowsPerPage })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page } = Astro.props

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: 'Members',
  activeHeaderLink: 'Members'
}
---

<PageLayout {frontmatter}>
  <h1>
    {frontmatter.title}
  </h1>
  <MembersList members={page.data} />

  <Pagination slot="bottom" page={page} />
</PageLayout>
